@tailwind base;
@tailwind components;
@tailwind utilities;

.comma-after::after {
  content: ",";
}
@screen lg {
  .position-near-center {
    transform: translateX(calc(-100% - theme("margin.8")));
    top: 25vh;
  }
}
