@tailwind base;
@tailwind components;
@tailwind utilities;

.comma-after::after {
  content: ",";
}

html,
body,
#__next {
  min-height: 100%;
  height: 100%;
}

@screen lg {
  .position-near-center {
    transform: translateX(calc(-100% - theme("margin.8")));
    top: 15vh;
  }
}
